<!DOCTYPE html>
{% extends 'main.html'%}
    {% block body_block %}
        <div class="jumbotron" style="margin : 10px ">
          <h1 class="display-4">Users:</h1>
            <div>
                {% if users %}
                <ol>
                    {% for usr in users %}
                    <li>User Info:</li>
                    <ul>
                        <li>{{ usr.firstName }}</li>
                        <li>{{ usr.lastName }}</li>
                        <li>{{ usr.email }}</li>
                    </ul>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
    {% endblock %}